<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/static//css/style.css">
        <link rel="stylesheet" href="/site_media/fancybox/jquery.fancybox.css?v=2.0.5" type="text/css" media="screen" />
        <link href='http://fonts.googleapis.com/css?family=Special+Elite|Droid+Serif:400,400italic,700' rel='stylesheet' type='text/css'>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
        <script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
        <script src="http://documentcloud.github.com/backbone/backbone-min.js"></script>   
        <script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
        <script src ="http://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.min.js" ></script>
        <script src="http://pagedown.googlecode.com/hg/Markdown.Converter.js"></script>
        <script src="/site_media/fancybox/jquery.fancybox.pack.js"></script>
        <link rel="stylesheet" href="/site_media/fancybox/helpers/jquery.fancybox-thumbs.css?v=2.0.5" type="text/css" media="screen" />
        <script type="text/javascript" src="/site_media/fancybox/helpers/jquery.fancybox-thumbs.js?v=2.0.5"></script>
        {% block stylesheets %}{% endblock %}
        {% block javascripts %}{% endblock %}
        <title>{% block title %}{% endblock %}</title>
    </head>

    <body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <div id='header'>
        <ul>
            <li class='photos'>
                <a href="#photos"><span>Kuvat</span></a>
            </li>
            <li class='comments'>
                <a href="#comments"><span>Kommentit</span></a>
            </li>
            <li class='logo'>
                <a href="#"><img alt="kyltti.com - ei talvikunnossapitoa" src="/static//css/images/logo.png"/></a>
            </li>
            <li class='destinations'>
                <a href="#destinations"><span>Maat</span></a>
            </li>
            <li class='story'>
                <a href="#story"><span>Tarina</span></a>
            </li>
        </ul>
    </div>

    <div id='content'>
        {% block content %}{% endblock %}
    </div>

    <div id="footer">
        ©footer
    </div>

    {% block js %}{% endblock %}

    </body>
</html>
