{% extends "base.html" %}

{% block content %}

<!-- templates -->
<div id="main">
</div>


<script type="text/html" id="story_template">
<h1>Kyltti.com story</h1>
"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
</script>

<script type="text/html" id="photo-view">

</script>

<script type="text/html" id="destination-list">
<h1>Epic destinations:</h1>
</script>

<script type="text/html" id="destination-template">
    <a href="/#photos/<%= slug %>"><%= name %></a>
</script>

<script type="text/html" id="photo-list">
<h1>Epic pics from crappy places:</h1>
</script>

<script type="text/html" id="photo-template">
<a id="<%= id %>" class="photos" rel="<%= destination.slug %>" title="<%= caption %>" href="{{ MEDIA_URL }}photos/medium/<%= fn %>">
    <img src="{{ MEDIA_URL }}photos/thumbs/p<%= fn %>" alt="<%= fn %>" />
    </a>
<div>
    <%= caption %>
</div>
</script>

<script type="text/html" id="gossip-list">
<div id="story">
<h1>Kyltti.comin tarina</h1>
"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
</div>
<h1>Kyltti.com uutisia:</h1>
</script>

<script type="text/html" id="gossip-template">
<div class="news">
    <h4><%= title %> </h4>
    <span style="font-size: 0.7em; color: grey;"><%= date %></span><br />
    <%= body %>
    <br /><br />
</div>
</script>

{% endblock %}

{% block js %}
<script type="text/javascript">

// destination model
Destination = Backbone.Model.extend({
    urlRoot: "/api/destinations/",
    //urlRoot: "http://127.0.0.1:8000/api/events/{{ hash }}/users",
});

// the collection of destination models
Destinations = Backbone.Collection.extend({
    model: Destination,
    url: "/api/destinations/",
});

// photo model
Photo = Backbone.Model.extend({
    urlRoot: "/api/photos/:slug/:id/",
    //urlRoot: "http://127.0.0.1:8000/api/events/{{ hash }}/users",
});

// the collection of user models
Photos = Backbone.Collection.extend({
    model: Photo,
    url: "/api/photos/",
});

// user model
Gossip = Backbone.Model.extend({
    urlRoot: "/api/news/",
    //urlRoot: "http://127.0.0.1:8000/api/events/{{ hash }}/users",
});

// the collection of user models
Gossips = Backbone.Collection.extend({
    model: Gossip,
    url: "/api/news/",
});

// global reference to the collection
gossips = new Gossips();
photos = new Photos();
destinations = new Destinations();

DestinationListView = Backbone.View.extend({
    template: _.template($("#destination-list").html()),
    initialize : function(){
        _.bindAll(this,"render");
        //rerender whenever there's a change to the collection
        this.collection.bind("add", this.render);
        this.collection.bind("remove", this.render);
    },
    render : function() {
        $(this.el).html(this.template);
        var els = [];
        //loop the collection..
        console.log("DestinationListView render.");
        this.collection.each(function(model){
            //rendering a view for each model in the collection
            var view = new DestinationItemView({model : model});
            //adding it to our array
            els.push(view.render().el);
        });
        //push that array into this View's "el"
        $(this.el).append(els);
        return this;
    }
});

DestinationItemView = Backbone.View.extend({
    //tagName: "li", 
    template: _.template($("#destination-template").html()),
    initialize: function() {
        _.bindAll(this, "render", "remove");
        //this.model.bind("change", this.render);
     },

    render: function(eventName) {
        $(this.el).html(this.template(this.model.toJSON()));
        return this;
    },
});

PhotoListView = Backbone.View.extend({
    template: _.template($("#photo-list").html()),
    initialize : function(){
        _.bindAll(this,"render");
        //rerender whenever there's a change to the collection
        this.collection.bind("add", this.render);
        this.collection.bind("remove", this.render);
    },
    render : function() {
        $(this.el).html(this.template);
        var els = [];
        //loop the collection..
        console.log("PhotoListView render.");
        this.collection.each(function(model){
            //rendering a view for each model in the collection
            var view = new PhotoItemView({model : model});
            //adding it to our array
            els.push(view.render().el);
        });
        //push that array into this View's "el"
        $(this.el).append(els);
        console.log("doing it only once.");
        $(this.el).find("a.photos").fancybox({
            prevEffect  : 'none',
            nextEffect  : 'none',
            fixed: true,
            overlayOpacity: 0.4,
            helpers : {
                title   : {
                    type: 'over',
                },
                overlay : {
                    opacity : 0.8,
                    css : {
                        'background-color' : '#000'
                    }
                },
                thumbs  : {
                    width   : 50,
                    height  : 50
                }
            }
        });
         return this;
    }
});

PhotoItemView = Backbone.View.extend({
    template: _.template($("#photo-template").html()),
    //tagName: "li", 
    initialize: function() {
        _.bindAll(this, "render", "remove");
        //this.model.bind("change", this.render);
     },

    render: function(eventName) {
        $(this.el).html(this.template(this.model.toJSON()));
        return this;
    },
});

StoryView = Backbone.View.extend({
    initialize : function(){
        this.template = $("#story_temaplate");
    },
    render : function() {
        var content = this.template.tmpl();
        $(this.el).html(content);
        return this;
    }
});

GossipListView = Backbone.View.extend({
    template: _.template($("#gossip-list").html()),
    initialize : function(){
        //this.template = $("#gossip-list");
        _.bindAll(this,"render");
        //rerender whenever there's a change to the collection
        this.collection.bind("add", this.render);
        this.collection.bind("remove", this.render);
    },
    render : function() {
        //var content = this.template.tmpl();
        $(this.el).html(this.template);
        var els = [];
        //loop the collection..
        console.log("GossipListView render.");
        this.collection.each(function(model){
            //rendering a view for each model in the collection
            var view = new GossipItemView({model : model});
            //adding it to our array
            els.push(view.render().el);
        });
        //push that array into this View's "el"
        $(this.el).append(els);
        return this;
    }
});

GossipItemView = Backbone.View.extend({
    template: _.template($("#gossip-template").html()),
    //tagName: "li", 
    initialize: function() {
        _.bindAll(this, "render", "remove");
        //this.model.bind("change", this.render);
     },

    render: function(eventName) {
        console.log("test:" + ParseWiki(this.model.get("body")));
        var markdown_body = ParseWiki(this.model.get("body"));
        this.model.set( { body: markdown_body } );
        $(this.el).html(this.template(this.model.toJSON()));
        return this;
    },
});

Home = Backbone.Router.extend({
    routes: {
        "": "index",
        "photos/:slug":     "getPhotos",
        "photos/:slug/:id": "showPhoto",
        "photos":           "photos",
        "comments":         "comments",
        "destinations":     "destinations",
        "story":            "story",
    },
    showPhoto: function(slug, id) {
        console.log("oh my god");
    },

    getPhotos: function(slug) {
        console.log("#getPhotosBySlug");
        $("#header li").removeClass("active");
        $("#header li.photos").addClass("active");
        var photos_by_slugs = new Photos();
        $.getJSON('/api/photos/' + slug + '/', function(data) {
            if(data) {
                photos_by_slugs.add(data);
                photoView = new PhotoListView({ collection: photos_by_slugs, el: '#main' });
                photoView.render();
        }});                       /*        
        photos.fetch({ success: function() {
            console.log("photo_by_slug init");
            photoView = new PhotoListView({ collection: photos, el: '#main' });
            photoView.render();
        }});*/
    },
    photos: function() {
        console.log("#photos");
        $("#header li").removeClass("active");
        $("#header li.photos").addClass("active");
        photos.fetch({ success: function() {
            console.log("photo init");
            photoView = new PhotoListView({ collection: photos, el: '#main' });
            photoView.render();
        }});
    },
    index: function() {
        console.log("#index");
        $("#header li").removeClass("active");
        $("title").html("Kyltti.com uutisia");
        gossips.fetch({success: function(){
            console.log(gossips); 
            gossipView = new GossipListView({ collection: gossips, el: '#main' });
            gossipView.render();
        }});

   },
    comments: function() {
        console.log("#comments");
        $("#header li").removeClass("active");
        $("#header li.comments").addClass("active");
    },
    story: function() {
        console.log("#story");
        $("#header li").removeClass("active");
        $("#header li.story").addClass("active");
        storyView = new StoryView({ el: '#main' });
        storyView.render();
    },
    destinations: function() {
        console.log("#destinations");
        $("#header li").removeClass("active");
        $("#header li.destinations").addClass("active");
        destinations.fetch({ success: function() {
            console.log("destination init");
            destinationView = new DestinationListView({ collection: destinations, el: '#main' });
            destinationView.render();
        }});    
    }
});

$(function(){
    var app = new Home();
    Backbone.history.start();
});

</script>
{% endblock %}
