/*reset css*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
    height: 100%;
}

body {
	line-height: 1;
}
a {
	color:#474747;
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---------*/


/*background*/

body {
	font: 62.5%/1.4 'Rambla', sans-serif;
	height: 100%;
}

.pic {
    width: 188px;
    height: 188px;
    overflow: hidden;
}
a.photos img {

}

/*fonts*/

a:link {
	text-decoration:none;
}

a:hover {
    text-decoration:none;
    color: #ffffff;
}

.photo-div .details {
overflow: hidden;
bottom: 4px;
color: #fff;
background: rgba(0,0,0,0.65);
height: 50px;
position: absolute;
width: 100%;
}

.photo-div {
    position: relative;
}

.photo {
    float: left;
    padding: 2px;
}
ul {
    list-style: none;
    font-size: 1.117em;
}

ul li.active {
    list-style-image: url("images/arrow_right.png");
}

ul a.active {
    color: #ffffff;
}

p {
    display: block;
    font-size: 1.5em;
}

.upper {
    background: url(images/kyltti_Hero.png) 100% 60px no-repeat;
    height: 600px;
}

.large-pic {
    float: left;
    width: 100%;
    text-align: center;
}

.large-pic div {

}

.footer {
    color: #474747;
    text-align: center;
    font-size: 1.5em;
    padding-bottom: 40px;
    border-top: 1px solid #474747;
    padding-top: 10px;
}
.destinations {
    padding-bottom: 100px;
}

.header, .content {
}

.photos {
	filter: grayscale(100%);
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'saturate\' values=\'0.3\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
	filter: gray alpha(opacity=30);; /* IE6-9 */
	-webkit-filter: grayscale(30%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.photos:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}

.destination-div {
    font-size: 1.17em;
}

.lower {
}