/*reset css*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
    height: 100%;
}

body {
	line-height: 1;
}
a {
	/*color: #423018;*/
	color:#2f768e;
    /*color: #0088CC;*/
}

ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*---------*/


/*background*/

body {
	background: url(images/map.jpg) 50% 0%;
	font: 62.5%/1.4 'Droid Serif', serif;
	height: 100%;
}

#container {
	background: rgba(255, 255, 255, 0.4);
	margin-left: auto;
	margin-right: auto;
	width: 75%;
	padding: 2em 1em;
	min-height: 100%;
}

/*fonts*/

body {
	font: 62.5%/1.4 'Droid Serif', serif;
}

a:link {
	text-decoration:none;
	color:#2f768e;
}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;
    color: #3d4d1b;
        text-shadow: 0 0 2px #c3f65a;}
a:active {text-decoration:underline;}

h1, h2, h3, h4 {
	font-family: 'Special Elite';
#	letter-spacing: 0.01em;
}

/*header*/

#logo {
	float: left;
	position:relative;
	margin: 0 0 -3em 0;
}

#header {
	margin: 0 0 2em 0;
	float: right;
}

#header ul {
	float: left;
	margin-top: 60px;
}


#header ul li {
	font-size: 1.8em;
	letter-spacing: 0.2em;
	float: left;
}

#header ul li a {
	display: block;
	padding: 0.5em 0.8em 0 0.8em;
	text-decoration: none;
	color: #423018;
	font-family: 'Special Elite';
}

#header a:hover {
	color: #3d4d1b;
	text-shadow: 0 0 2px #c3f65a;
}

#header ul li.logo {
	display:none;
}

#header ul li.active a {
    font-weight: bold;
}

/*Story*/

 #story {
	font-size: 1.5em;
	padding:3em 0;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	-webkit-column-count: 2;
	-webkit-column-width: 50%;
	-webkit-column-gap: 3em;
	-webkit-column-rule: 1px solid #000;
	-moz-column-count: 2;
	-moz-column-width: 50%;
	-moz-column-gap: 3em;
	-moz-column-rule: 1px solid #000; 
	column-count: 2;
	column-width: 50%;
	column-gap: 3em;
	column-rule: 1px solid #000; 
}

/*content*/

#content {
	clear:both;
}

#main{
	padding-top: 2em;
	clear:both;
}

#header ul li.photos a {
    padding-top: 60px;
    background: url(images/photos.png) 50% 0% no-repeat;
}

#header ul li.gossips a {
    padding-top: 60px;
    background: url(images/gossips.png) 50% 0% no-repeat;
}

#header ul li.destinations a {
    padding-top: 60px;
    background: url(images/destinations.png) 50% 0% no-repeat;
}

#header ul li.story a {
    padding-top: 60px;
    background: url(images/story.png) 50% 0% no-repeat;
}

li.photo-div {
 list-style: none;
}

.photo-div {
    float: left;
}

.photos {
	filter: grayscale(100%);
	filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'saturate\' values=\'0.3\'/></filter></svg>#grayscale"); /* Firefox 10+, Firefox on Android */
	filter: gray alpha(opacity=30);; /* IE6-9 */
	-webkit-filter: grayscale(30%); /* Chrome 19+, Safari 6+, Safari 6+ iOS */
}

.photos:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}

.destination-div {
    font-size: 1.2em;
}

/* Mikähän tää on?*/
hr {
    display: block;
    position: relative;
    padding: 0;
    margin: 8px auto;
    width: 100%;
    clear: both;
    border: none;
    border-top: 1px solid grey;
    border-bottom: 1px solid black;
    font-size: 1px;
    line-height: 0;
    overflow: visible;
}


p, .news {
	font-size: 1.3em;
	line-height: 1.4;
	padding: 1em 0;
	border-bottom: 1px dotted #3d4d1b;
	position:relative;
}

.news:hover span {display:inline;}
.news span {
	font-size: 0.7em;
#	display:none;
	float:right;
	position:absolute;
	bottom:0.2em;
}

h1 {
	font-size: 2em;
}

h4 {
	font-size: 1.3em;
	color: #3d4d1b;
}

/*footer*/

#footer {
	clear:both;
	text-align: center;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
	padding-top:30px;
}
